* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    
}


body {
    background: #f0f0f0;
    overflow-x: hidden;
    
}
/* } .body.menu-open {
    overflow: hidden;
    } */
footer {
    background: #232323;
    font-size: 12px;
    display: flex;
    justify-content:center;
    text-align: justify;
    padding: 20px;
    align-items: center;
    color: #888;
    
}

 section {
    /* max-width: 1200px; */
    max-width: 99vw;
    width: 99vw;
    min-height: 100vh;
    color: #232323;
    
    /* padding: 0 20px;     */
}

nav ul li {
    color: #fff;
    font-size: 1rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background: #232323;
    width: 99vw;
}

.nav-menu {
    display: flex;
    padding: 0;
    
}

.nav-menu li {
    padding: 0 40px;
    list-style-type: none;
    transition: 0.3s;
    color:rgb(255, 61, 61);
    }
    .nav-menu li a{
        text-decoration: none;
        font-weight: 600;
        color: rgb(164, 132, 251);
        
    }

    .nav-menu li:hover {
        
        cursor: pointer;
        color: #fff;
    }


.ham {
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    
    
}
    .ham span {
        display: block;
        background: linear-gradient(to right,rgb(251, 255, 0), rgb(255, 0, 93));
        height: 3px;
        width: 28px;
        margin: 10px auto;
        border-radius: 2px;
    }

   
    /* SectionOne */
.sectionOne {
    background: #1c1c1c;
        
    perspective: 1000px;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    
 
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 10%;
    
    object-fit: cover;
    z-index: 9;
}

.one-description {
    filter: brightness(100%);
    background-image: url('./img/gato.png');
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
    text-align: left;
    background-color: #303030;
    opacity: 60%;
    border-radius: 20px;
    
    width: 90vw;
    height: 90vh;
    transform: translateZ(0);
    z-index: 9;
    
    transition: background-position 0.3s ease;
    
}
.sectionOne:hover .one-description {
    transform: none;
    
}


.sectionOne .one-description:hover {
    background-position: calc((var(--mouseX) - var(--centerX)) * 0.1px) calc((var(--mouseY) - var(--centerY)) * 0.1px);
    transition: background-position 0.1s ease;
    
  }  

.wel {
    margin-top: 15%;
    margin-left: 50%;
    
    
}
.wel h1 {
    
    background: url('./img/confeti.gif'), linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
    -webkit-background-clip: text;
    background-clip: text;
    
    font-size: 2.5rem;    
    font-weight: 900;
    
    transition: transform 0.3s ease;
    transform-origin: center left;

    
} .wel h1:hover {
    transform: scaleX(0.9) scaleY(1.01);
} .wel h2 {
    background: url('./img/confeti.gif'), linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2.7rem; 
    transition: transform 0.3s ease;
    transform-origin: center left;  
} .wel h2:hover {
    transform: scaleX(0.9) scaleY(1.01);
}

.wel p{
    font-size: 2rem;
    font-weight: 400;
    
    background:url('./img/confeti.gif') ,linear-gradient(to right, rgb(0, 0, 0), rgb(89, 0, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;

    transition: transform 0.3s ease-in;
    transform-origin: center left;
} .wel p:hover {
    transform: scaleX(0.9) scaleY(1.01);
}

.networks {
    display: flex;
    flex-direction: row;
    padding: 10px;
} .networks img {
    filter: brightness(1.75);
    width: 50px;
    height: 45px;
    object-fit: contain;
    margin-left: 5px;
} 


.title {
    display: flex;
    
} .line-one {
    background: linear-gradient(rgb(115, 0, 255), #ffc5ff);
    height: 2px;
    width: calc(100% - 20px);
    margin: 0 50px;
}


/* SECTION TWO */

.sectionTwo {
    background: #1c1c1c;
    color:rgb(55, 70, 58);
}

.container-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    
} 

.container-projects .box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 800px;
    height: 300px;
    margin-bottom: 100px;
    background: linear-gradient(rgb(216, 191, 253), #fff);
}  

.gif {
    padding: 50px;
    width: 300px;
    height: 300px;
    
} .gif img {
    
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem; 
}   .icons h1 {
    font-weight: 900;
    font-size: 2.5rem; 
    
    
} .title-icons h1, p {
   padding: 0 20px; 
}
    .title-icons, .icon {
        width: 100%;
    } .icon h3 {
        font-weight: 300;
        padding: 0 20px;
    }

    .images-icon {
    display: flex;
    flex-direction: row;
    
    width: 30px;
    height: 30px;
} 
 .images-icon img {
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}



/* SECTION THREE */

.html:hover p,
.html:hover h2,
.css:hover p,
.css:hover h2,
.javascript:hover p,
.javascript:hover h2,
.git:hover p,
.git:hover h2,
.linux:hover p,
.linux:hover h2,
.react:hover p,
.react:hover h2,
.mongo:hover p,
.mongo:hover h2,
.sql:hover p,
.sql:hover h2,
.sass:hover p,
.sass:hover h2,
.aws:hover p,
.aws:hover h2,
.node:hover p,
.node:hover h2 {
  animation: changeC 4s;
  transition: 5s ease;
  
} @keyframes changeC {
    0%{
        color: rgb(255, 0, 93);
    }
    50% {
        color: rgb(255, 83, 146);
    }
    100%{
        color:#5a5a5a;
    }
}



.sectionThree {
    background: #232323;
    background: #1c1c1c;
    color: #5a5a5a;
} 




.sk {
    
    background-image: linear-gradient(to right,transparent,purple, purple), linear-gradient(to right, transparent, purple, purple);
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: 100% 2px;
    background-clip: content-box, content-box;
    -webkit-background-clip: content-box, content-box;
 
} .sk h2 {
    padding: 8%;
    font-size: 7rem;
    
    transition: left 1s ease;
    white-space: nowrap;
}

.sk2 {
    font-size: 4rem;
    font-weight: 300;
    padding: 10px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    background: url('./img/confeti.gif');
    -webkit-background-clip: text;
    background-clip: text;


} .sub {
    font-size:1.2rem;
    font-weight: 300;
    padding: 0 10px;
    color: transparent;

    background: url('./img/confeti.gif');
    -webkit-background-clip: text;
    background-clip: text;

}

.container-title-sectionThree .skills {
    transition: left 1s ease;
    
    
  } .skills h1 {
    font-size: 12rem;
    font-weight: 2000;
    margin-left: 5%;
    
    transition: transform 0.5s ease;
    
  } .container-title-sectionThree .skills h1:hover {
    filter: brightness(1.75);
    
    
  }

  /* transition: transform 0.3s ease;
    transform-origin: center left;

    
} .wel h1:hover {
    transform: scaleX(0.9) scaleY(1.01); */
  
  .html5 {
    margin-top: 10%;
    padding: 4%;
    margin-left: 80%;
    
  }
 

    .css {
    margin-left: -320%;
    
  }
  
  .javascript {
    margin-left: 300%;
}

.container-lista {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 100px 0;
} 



  
 
/* SECTION FOUR  */
.sectionFour {
    
    background: #1c1c1c;
}
    

    .services h1 {
        
        font-size: 3rem;
        background: linear-gradient(to right,rgb(255, 0, 93), rgb(244, 249, 0));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;

        word-spacing: 10px;
    } 
    .services p {
        font-size: 1.2rem;
        
        }
   

    .sectionFour .container-title-sectionFour {
        text-align: center;
        padding: 200px 0;
        color: #fff;
        
    } 
    .cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        gap: 20px;
        color:#f0f0f0;
        
    } 
    
    .cards h2 {
        margin-top: -10%;
        color: orange;
    } .cards p {
        text-align: center;
        
    }
     .cards div {
        border: 2px solid orange;
        border-radius: 10px;
        width: 330px;
        height: 300px;
        
    }
        .cards .images-card h2, p {
            padding: 5px 20px;
            
        }
    

       .cards img{
        margin-top: -45%;
        width: 300px;
        height: 300px;
        object-fit: cover;
    }  .images-card {
        text-align: center;
    }

    

    /* Section Five */

   .sectionFive {
        background: #1c1c1c;
        height: 200vh;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 2fr);
        grid-template-areas: 
            'firstAbout firstAbout'
            'secondAbout secondAbout'
            'thirdAbout thirdAbout'
            '. fourthAbout';
        padding: 100px 400px;
        color: #9167fa;
     } .sectionFive h1 {
        font-size: 3rem;
        font-weight: 500;
        margin-left: 20px;
     } .sectionFive p, li {
        font-size: 1.2rem;
        font-weight: 300;
     }
     
     .firstAbout {
        grid-area: firstAbout;
    } .firstAbout-work h1{
        
    }
      .secondAbout {
        grid-area: secondAbout;
        width: 60%;
        margin-top: -40%;
        padding: 50px;
        color: #f0f0f0;
        background: #9167fa;
        
    } 
    .thirdAbout {
        grid-area: thirdAbout;
    } .fourthAbout {
        grid-area: fourthAbout;
        background: #f0f0f0;
        padding: 50px;
        margin-left: 10%;
        margin-top: auto;
        width: 520px;
        height: auto;
    } .fourthAbout h1{
        margin-left: -10px;
    }

    .firstAbout .abajo {
        width: 40px;
        height: 40px;
        margin-top: 10%;
        margin-left: 30%;
        
        
    } 
    .firstAbout .foto {
        width: 500px;
        height: 500px;
        margin-left: 70%;
        margin-top: -10%;
        
    } .firstAbout .foto img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        opacity: 70%;
        
    }.firstAbout .abajo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    } .thirdAbout .assembler {
        width: 400px;
        height: 350px;
    } .copier {
        margin-left: 20%;
        width: 400px;
        height: 350px;
    }  .thirdAbout .assembler img, .copier img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    } .thirdAbout-work {
        margin-left: 50%;
        margin-top: -80%;
    }

    
    

   
    
    

   /* Section Six */
   
    .sectionSix {
        color: #fff;
        background: #303030;
        
    }

    .container-title-sectionSix {
        padding: 100px;
        margin-left: 20%;
        width: 70%;
    } .container-title-sectionSix .correo {
        margin-left: 10%;
        margin-top: 10%;
        width: 140px;
        height: 140px;

    } .correo img{
        background-color: #9167fa;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        
        
    }

    .sectionSix .container-title-sectionSix h1{
        
        font-size: 7rem;
        
    }

    .container-title-sectionSix h2{
        text-align: justify;
        font-weight: 200;
    }

    form {
        margin-top: -15%;
        margin-left: 40%;
        
        
        color: #fff;
        
    }
        form input[type="text"] {
            padding: 10px;
            width: 400px;
            border-radius: 10px;
            background: transparent;
            border: #9167fa 1px solid;
            
        }   form input[type="text"]:hover {
            border: rgb(117, 236, 109) 2px solid;
            transition: .5s ease-in;
            
            }
         form textarea:hover {
            border: rgb(117, 236, 109) 2px solid;
            transition: .5s ease-in;
            
            
        } 

        form input[type="email"] {
            padding: 10px;
            width: 400px;
            border-radius: 10px;
            background: transparent;
            border: #9167fa 1px solid;
        } form input[type="email"]:hover {
            border: rgb(117, 236, 109) 2px solid;
            transition: .5s ease-in;
            
            }

        form div {
            padding: 10px;
        }
        
        form label {
            font-size: 1.2rem;
        }
        textarea {
            resize: none;
            width: 400px;
            border-radius: 10px;
            background: transparent;
            border: #9167fa 1px solid;
        }
        .send {
            background: linear-gradient(rgb(250, 168, 250), rgb(160, 143, 254));
            width: 270px;
            justify-content: space-between;
            padding: 10px;
            border: none;
            cursor: pointer;
            margin-left: 10px;
            font-size: 1rem;
            color: #9167fa;
        } .send:hover {
            color: rgb(117, 236, 109);
        }

        .sectionSix.dark-bg {
            background: rgba(0, 0, 0, 0.7);
        }

        input[type="text"], 
        input[type="email"] {
            transition: transform 0.3s ease;
        }

        footer p{
            font-size: 12px;
        }

        /* 1400px responsive 1400px responsive  1400px responsive* 1400px responsive */

        @media (max-width: 1600px){
         .sectionFive {
            height: 250vh;
         } 

        .thirdAbout-work {
            margin-left: 70%;
            width: 50%;
        }
        }

        /* 992PX RESPONSIVE INIT 992PX RESPONSIVEINIT 992PX RESPONSIVEINIT 992PX RESPONSIVE */

        @media (max-width: 992px){
            body {
                
                overflow-x: hidden;
            }
            
            .nav-menu {
                display: flex;
                padding: 0;
                background: linear-gradient(#232323, #482b2b);
            }
            
            .nav-menu li {
                padding: 0 40px;
                list-style-type: none;
                transition: 0.3s;
                color:rgb(255, 61, 61);
                }
                .nav-menu li a{
                    text-decoration: none;
                    font-size: 1.8rem;
                    font-weight: 600;
                }
            
                .nav-menu li:hover {
                    
                    cursor: pointer;
                    color: #fff;
                }
            
            
           
                .ham span {
                    display: block;
                    background-color: rgb(163, 163, 163);
                    height: 3px;
                    width: 28px;
                    margin: 10px auto;
                    border-radius: 2px;
                }
        
        
             section {
                /* max-width: 1200px; */
                max-width: auto;
                width: auto;
                min-height: 80vh;
                
                
                /* padding: 0 20px;     */
            }
        
            .container-title-sectionThree {
                display: grid;
                justify-content: center;
                align-content: center;
                font-size: 8rem;
                
            }
            
        
          .ham {
                display: block;
                cursor: pointer;
                position: absolute;
                top: 15px;
                right: 25px;
                transition: 0.2s 0.1s;
                width: 40px;
            }
        
           nav {
                flex-direction: column;
                align-items: flex-start;
                margin: 0;
                padding: 0;
                /* padding: 25px 0;
                width: auto; */
            }
        
            .nav-menu {
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                height: 92vh;
                margin: 0;
                padding: 0;
                width: 100%;
                opacity:0;
                transition: opacity 5s ease-out;
                display: none;
            }
        
            .nav-menu li {
                text-align: center;
                width: 100%;
                padding: 20px;
                z-index: 9;
                font-size: 2rem;
            }
        
            .nav-menu.activado{
                display: flex;
                animation: muestraMenu 350ms ease-in-out both;
                
            }
                @keyframes muestraMenu {
                    from{opacity: 0;}
                    to{opacity:1;}
                }
        
                .br-1.animado {
                    transform: rotate(-45deg) translate(-10px, 8px);
                }
                .br-2.animado {
                    opacity: 0;
                }
                .br-3.animado {
                    transform: rotate(45deg) translate(-10px, -8px);
                }
                .ham.girar:hover{
                    transform: rotate(360deg);
                }
        
            /* SECTION ONE RESPONSIVE  992    992 9992  992  992  992PX */
                .dropdown-menu {
                    left: 1rem;
                    width: unset;
                }
        
               
               
                 
                .sectionOne {
                    background-image: url('./img/gato.png');
                    background-repeat: no-repeat;
                    background-size: 400px 600px;
                    background-position:left bottom;
                  }
                
                  .one-description {
                    
                    background-image: none;
                    background:#1c1c1c;
                    
                    
                    width: 50vw;
                    height: 30vh;
                    margin-left: 0;
                    
                }
        
                  .wel {
                    margin-left: 40px;
                    
                  } .wel h2 {
                    font-size: 2rem;
                    margin-left: 20%;
                  }
                  .wel h1 {
                    font-size: 1.3rem;
                    font-weight: 900;
                    margin-left: 10%;
                  }  .wel p {
                    font-size: 1.3rem;
                    margin-left: 5%;
                  } .networks {
                    margin-left: 20%;
                } .networks img {
                    filter: brightness(1.75);
                    width: 40px;
                    height: 40px;
                    object-fit: contain;
                    margin-left: 5px;
                }
                
                .sectionOne .one-description:hover {
            background-position: none;
            transition: background-position 0.1s ease;
          } 
        
        
                /* Section Two responsi 992    992 9992  992  992  992*/
               
                  .sectionTwo {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                  }  .sectionTwo h1, p{
                    font-size: 15px;
                  }
        
                  .container-projects {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 8%;
                    
                } 
        
                  .container-projects .box {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid black;
                    border-radius: 10px;
                    width: 400px;
                    height: 400px;
                    margin-bottom: 100px;
                    margin-left: 0;
                    background: linear-gradient(rgb(216, 191, 253), #fff);
                }  
                .gif {
                    padding: 0px;
                    margin: 20px;
                    width: 400px;
                    height: 100px;
                    
                } .gif img {
                    
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
        
                .icons {
                    margin-top: 0;
                    margin-left: 10%;
                } 
        
                .images-icon {
                    display: flex;
                    flex-direction: row;
                    width: 25px;
                    height: 25px;
                } 
               
        
            /* Section Three responsive  992    992 9992  992  992  992PX */
        
            .sectionThree {
                height: 80vh;
            }
        
            
            .skills h1 {
                font-size: 3rem;
                margin-left: -20%;
            }
        
            .sk h2 {
                font-size: 1.5rem;
            }
        
            .html5 {
                margin-top: 10%;
                margin-left: 250%;
                
              }
             
            
                .css {
                margin-left: -700%;        
              }
              
              .javascript {
                margin-top: 0;
                margin-left: 700%;
            }  
            
            .container-lista {
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                grid-template-rows: repeat(1, 1fr);
                margin-left: 50px;
                padding: 100px;   
            } 
            .sk2 {
                font-size: 3rem;
                font-weight: 500;
                padding: 0;
                writing-mode: vertical-lr;
                text-orientation: upright;
                width: 50%;
            
            } .sub {
                opacity: 0;
                font-size:15px;
                font-weight: 500;
                color: #fff;
                z-index: 1;
                }
        
                   
            /* Section Four Responsive  992    992 9992  992  992  992PX */
        
            .sectionFour {
                font-size: 1rem;
                height: 200vh;
            } 
            .sectionFour h1{
                font-size: 2rem;
            } 
                
            .cards {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                gap: 140px;
                color:#f0f0f0;
            } 
        
        
        
        
           /* Section Five responsive  992    992 9992  992  992  992 */
           
           .sectionFive {
            background: #1c1c1c;
            height: 250vh;
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-template-areas: 
                'firstAbout'
                'secondAbout'
                'thirdAbout'
                'fourthAbout';
            padding: 20px;
            color: #9167fa;
        } .sectionFive h1 {
            margin-left: 20px;
            font-size: 2rem;
        } .sectionFive p {
            font-size: 17px;
        }
        
        .firstAbout {
            z-index: 9;
        }
        
        .firstAbout-work {
            padding: 100px;
        }
        
        .firstAbout .abajo {
            width: 40px;
            height: 40px;
            margin-top: 0;
            margin-left: 50%;
            
            
        } 
        .firstAbout .foto {
            position: absolute;
            margin-top: -60%;
            width: 300px;
            height: 400px;
            
        } .firstAbout .foto img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 20%;
            object-position: top;
        }
        
        .secondAbout {
            grid-area: secondAbout;
            width: 100%;
            padding: 100px;
            margin-top: 0;
            color: #9167fa;
            background: #1c1c1c;
            
        } .thirdAbout {
            grid-area: thirdAbout;
        } .fourthAbout {
            grid-area: fourthAbout;
            background: #f0f0f0;
            width: 600px;
            padding: 50px;
            margin-left: 10%;
            margin-top: -10%;
            height: 300px;
        } .fourthAbout li {
            margin-left: 20px;
        }
        
        
        .thirdAbout .assembler, .copier {
            width: 400px;
            height: 300px;
            margin-left: 20%;
            margin-top: 20px;
        } 
          .thirdAbout .assembler img, .copier img {
            width: 100%;
            height: 100%;
            
        } .thirdAbout-work {
            margin-left: 0;
            margin-top: 0;
            padding: 100px;
        }
        
        
            /* Section Six responsive  992    992 9992  992  992  992PX */
        
            .sectionSix {
                
            }
        
            .sectionSix .container-title-sectionSix h1, p, h2 {
                font-size: 1.2rem;
                width: 100%;
            }
        
            .container-title-sectionSix {
                padding: 80px;
                margin-left: 0;
                width: 100%;
            } 
        
            form {
                margin-top: 20px;
                margin-left: 10%;
                padding: 50px;
                
                color: #fff;
                
            } form input[type="text"],form input[type="email"], textarea {
                width: 320px; 
            }
        
            .container-title-sectionSix .correo {
                margin-left: 30%;
                margin-top: 20%;
                width: 100px;
                height: 100px;
        
            }
        
        }
        
        
           
/* responsive 768 PX 768px 768px 768px */

 @media (max-width: 768px){
  
    body {
        
        overflow-x: hidden;
    }
    
    .nav-menu {
        display: flex;
        padding: 0;
        background: linear-gradient(#232323, #482b2b);
    }
    
    .nav-menu li {
        padding: 0 40px;
        list-style-type: none;
        transition: 0.3s;
        color:rgb(255, 61, 61);
        }
        .nav-menu li a{
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 600;
        }
    
        .nav-menu li:hover {
            
            cursor: pointer;
            color: #fff;
        }
    
    
   
        .ham span {
            display: block;
            background-color: rgb(163, 163, 163);
            height: 3px;
            width: 28px;
            margin: 10px auto;
            border-radius: 2px;
        }


     section {
        /* max-width: 1200px; */
        max-width: auto;
        width: auto;
        min-height: 80vh;
        
        
        /* padding: 0 20px;     */
    }

    .container-title-sectionThree {
        display: grid;
        justify-content: center;
        align-content: center;
        font-size: 8rem;
        
    }
    

  .ham {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 25px;
        transition: 0.2s 0.1s;
        width: 40px;
    }

   nav {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;
        /* padding: 25px 0;
        width: auto; */
    }

    .nav-menu {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 92vh;
        margin: 0;
        padding: 0;
        width: 100%;
        opacity:0;
        transition: opacity 5s ease-out;
        display: none;
    }

    .nav-menu li {
        text-align: center;
        width: 100%;
        padding: 20px;
        z-index: 9;
        font-size: 2rem;
    }

    .nav-menu.activado{
        display: flex;
        animation: muestraMenu 350ms ease-in-out both;
        
    }
        @keyframes muestraMenu {
            from{opacity: 0;}
            to{opacity:1;}
        }

        .br-1.animado {
            transform: rotate(-45deg) translate(-10px, 8px);
        }
        .br-2.animado {
            opacity: 0;
        }
        .br-3.animado {
            transform: rotate(45deg) translate(-10px, -8px);
        }
        .ham.girar:hover{
            transform: rotate(360deg);
        }

    /* SECTION ONE RESPONSIVE 768PX */
        .dropdown-menu {
            left: 1rem;
            width: unset;
        }

          .sectionOne {
            background-image: url('./img/gato.png');
            background-repeat: no-repeat;
            background-size: cover;
            
            
          }
        
          .one-description {
            background-size: cover;
            background-image: none;
            background-image: url('');
            background:#1c1c1c;
            opacity: 90%;
            background-position: none;
            width: 85vw;
            height: 40vh;
            margin-left: 0;
            margin-top: 0;
            padding: 10px;
            
        }

        .sectionOne .one-description:hover {
            
            background-position: none;
            transition: none;
            transform: none;
            
            
            pointer-events: none;
          }

          .wel {
            margin-left: 40px;
            
          } .wel h2 {
            font-size: 2rem;
            margin-left: 20%;
          }
          .wel h1 {
            font-size: 1.2rem;
            font-weight: 900;
            margin-left: 10%;
            color: transparent;
            
          }  .wel p {
            font-size: 1rem;
            margin-left: 5%;
          } .networks {
            margin-left: 20%;
        } .networks img {
            filter: brightness(1.75);
            width: 40px;
            height: 40px;
            object-fit: contain;
            margin-left: 5px;
        }
        
        .sectionOne .one-description:hover {
    background-position: none;
    transition: background-position 0.1s ease;
  } 


        /* Section Two responsive */
       
          .sectionTwo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
          }  .sectionTwo h1, p{
            
          } 

          .container-projects {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 8%;
            
        } .icons h1 {
            font-weight: 900;
            font-size: 1.5rem; 
        } .title-icons p {
            font-size: 1rem;
        }

          .container-projects .box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 2px solid black;
            border-radius: 10px;
            width: 400px;
            height: 400px;
            margin-bottom: 100px;
            margin-left: 0;
            background: linear-gradient(rgb(216, 191, 253), #fff);
        }  
        .gif {
            padding: 0px;
            margin: 20px;
            width: 400px;
            height: 100px;
            
        } .gif img {
            
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .icons {
            margin-top: 0;
            margin-left: 10%;
        } 

        .images-icon {
            display: flex;
            flex-direction: row;
            width: 25px;
            height: 25px;
        } 
       

    /* Section Three responsive 768PX */

    .sectionThree {
    }

    .skills h1 {
        font-size: 3rem;
        margin-left: -60%;
    }

    .sk h2 {
        font-size: 1.5rem;
    }

    .html5 {
        margin-top: 10%;
        margin-left: 250%;
        
      }
     
    
        .css {
        margin-left: -700%;        
      }
      
      .javascript {
        margin-top: 0;
        margin-left: 700%;
    }  
    
    .container-lista {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(1, 1fr);
        padding: 100px 150px;                
    } 
    .sk2 {
        font-weight: 300;
        writing-mode: vertical-lr;
        text-orientation: upright;
    } .sk2 h2 {
        font-size: 15px;
        margin-left: 0;
        
        
    }
    .sub {
        font-size: 1px;
        opacity: 0;
        font-weight: 500;
        
        z-index: 1;
        }

           
    /* Section Four Responsive 768PX */

    .sectionFour {
        font-size: 1rem;
        height: 220vh;
    } 
    .sectionFour h1{
        font-size: 2rem;
    } 
        
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        gap: 140px;
        color:#f0f0f0;
    } 




   /* Section Five responsive 768 */
   
   .sectionFive {
    background: #1c1c1c;
    height: 300vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        'firstAbout'
        'secondAbout'
        'thirdAbout'
        'fourthAbout';
    color: #9167fa;
} .sectionFive h1 {
    margin-left: 20px;
    font-size: 1.2rem;
} .sectionFive p {
    font-size: 15px;
}

.firstAbout {
    z-index: 9;
    
}

.firstAbout-work {
    padding: 100px;
}

.firstAbout .abajo {
    width: 40px;
    height: 40px;
    margin-top: 0;
    margin-left: 50%;
    
    
} 
.firstAbout .foto {
    position: absolute;
    margin-top: -20%;
    margin-left: 50%;
    width: 300px;
    height: 400px;
    
} .firstAbout .foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 20%;
    object-position: top;
}

.secondAbout {
    grid-area: secondAbout;
    width: 100%;
    padding: 100px;
    margin-top: 0;
    color: #9167fa;
    background: #1c1c1c;
    
} .thirdAbout {
    grid-area: thirdAbout;
    
} .fourthAbout {
    grid-area: fourthAbout;
    background: none;
    width: none;
    height: auto;
    margin-left: 30%;
    margin-top: 0;
    padding: 20px;
    
    
} .fourthAbout li {
    margin-left: 20px;
}


.thirdAbout .assembler, .copier {
    width: 400px;
    height: 300px;
    margin-left: 20%;
    margin-top: 20px;
} 
  .thirdAbout .assembler img, .copier img {
    width: 100%;
    height: 100%;
    
} .thirdAbout-work {
    margin-left: 0;
    margin-top: 0;
    padding: 100px;
}


    /* Section Six responsive 768PX */

    .sectionSix {
        
    }

    .sectionSix .container-title-sectionSix h1, p, h2 {
        font-size: 1.2rem;
        width: 100%;
    }

    .container-title-sectionSix {
        padding: 60px;
        margin-left: 0;
        width: 100%;
    } 

    form {
        margin-top: 0;
        margin-left: 0;
        padding: 50px;
        
        color: #fff;
        
    } form input[type="text"],form input[type="email"], textarea {
        width: 270px; 
    } .form input[type="text"]:hover, textarea:hover, input[type="email"]:hover {
        transform: none;
        transition: none;
    }

    .container-title-sectionSix .correo {
        margin-left: 30%;
        margin-top: 20%;
        width: 100px;
        height: 100px;

    }
}


       

/* RESPONSIVE   RESPONSIVE PX IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII*/
    
