* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    
}


body {
    /* height: auto; */
    
    background: #f3f3f3;
    
}

section {
    /* max-width: 1200px; */
    max-width: 99vw;
    min-height: 99vh;
    height: 99vh;
    /* padding: 0 20px;     */
}

nav ul li {
    color: #fff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    
}

.nav-menu {
    display: flex;
    padding: 0;
    background: #232323;
}

.nav-menu li {
    padding: 0 40px;
    list-style-type: none;
    transition: 0.3s;
    color:rgb(255, 61, 61);
    }
    .nav-menu li a{
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: 600;
    }

    .nav-menu li:hover {
        
        cursor: pointer;
        color: #fff;
    }


.ham {
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    
    
}
    .ham span {
        display: block;
        background-color: rgb(163, 163, 163);
        height: 3px;
        width: 28px;
        margin: 10px auto;
        border-radius: 2px;
    }

   
/* RESPONSIVE 768PX */
    
@media (max-width: 768px){
    body{
        overflow: hidden;
    }

    .ham {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 25px;
        transition: 0.2s 0.1s;
        
    }

   nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 0;
        
    }

    .nav-menu {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 92vh;
        margin: 0;
        padding: 0;
        width: 100%;
        opacity:0;
        transition: opacity 5s ease-out;
        display: none;
    }

    .nav-menu li {
        text-align: center;
        width: 100%;
        padding: 20px;
        z-index: 9;
        font-size: 2rem;
    }

    .nav-menu.activado{
        display: flex;
        animation: muestraMenu 350ms ease-in-out both;
        
    }
        @keyframes muestraMenu {
            from{opacity: 0;}
            to{opacity:1;}
        }

        .br-1.animado {
            transform: rotate(-45deg) translate(-10px, 8px);
        }
        .br-2.animado {
            opacity: 0;
        }
        .br-3.animado {
            transform: rotate(45deg) translate(-10px, -8px);
        }
        .ham.girar:hover{
            transform: rotate(360deg);
        }
}