* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    
}


body {
    background: #f3f3f3;
   
}

* section {
    /* max-width: 1200px; */
    max-width: 99vw;
    width: 99vw;
    min-height: 99vh;
    
    
    /* padding: 0 20px;     */
}

nav ul li {
    color: #fff;
    font-size: 1.5rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background: #232323;
    width: 99vw;
}

.nav-menu {
    display: flex;
    padding: 0;
    
}

.nav-menu li {
    padding: 0 40px;
    list-style-type: none;
    transition: 0.3s;
    color:rgb(255, 61, 61);
    }
    .nav-menu li a{
        text-decoration: none;
        font-weight: 600;
    }

    .nav-menu li:hover {
        
        cursor: pointer;
        color: #fff;
    }


.ham {
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    
    
}
    .ham span {
        display: block;
        background-color: rgb(163, 163, 163);
        height: 3px;
        width: 28px;
        margin: 10px auto;
        border-radius: 2px;
    }

   
    /* SectionOne */
.sectionOne {
    color: #f3f3f3;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
        'one-description one-image';
    place-items: center;
    background: #232323;
    
  }
  

.sectionOne p {
    font-size: 1.5rem;
}

.sectionOne h1 {
    font-size: 2rem;
}

#nam {
    grid-area: one-image;
    animation: namnam 1s linear;
    z-index: 1;
}
    @keyframes namnam {
        0%{
            opacity: 0%;
        }
        100%{
            opacity: 5%;
        }
    }

.sectionOne .one-description #nam {
    font-size: 5rem;
    margin-left: 10%;
  }
  .sectionOne .one-description #my {
    font-size: 1em;
    margin-left: 0;
    margin-top: -20px;
  }
 
 

.line {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 0;
    
}

.one-description {
    grid-area: one-description;
    text-align: left;
    margin-left: 37%;
    
}
.one-description .dev {
    animation: onedev 1s linear;
}
    @keyframes onedev {
        0%{
            margin-left: 80%;
            transform: rotate(-50deg);
            transition: all 1s ease-out;
        }
    } 
.one-description .wel {
        animation: onewel 1s linear;
    }
        @keyframes onewel {
            0%{
                margin-left: 50%;
                transform: rotate(100deg);
                font-size: 5px;
            }
        }
.one-image {
    grid-area: one-image;
    width: 500px;
    height: 450px;
    animation: one 1s linear;
    z-index: 1;
}
    @keyframes one {
        0%{
            opacity: 0%;
        }
        50%{
            opacity: 10%;
        }
    }
    .one-image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

.networks img:hover {
    filter: brightness(2.00);
}
.networks {
    grid-area: networks;
    margin-left: 20%;
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
}

/* SECTION TWO */

.sectionTwo {
    background: #232323;
}
.sectionTwo .container-title-sectionTwo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-projects {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
       'first-project two-project three-project';
    gap: 20px;
    margin-top: 10%;
}

.container-projects .box {
    border: 2px solid black;
    border-radius: 10px;
    width: 350px;
    height: 350px;  
    margin-left: 20%;  
}
.first-project{
    grid-area: first-project;
}
.two-project{
    grid-area: two-project;
}
.three-project{
    grid-area: three-project;
}
.container-projects h1 {
    margin-right: 20px;
}


 .title h1{
    /* background: linear-gradient(to right,rgb(255, 0, 255),  rgb(251, 255, 0)); */
    background: linear-gradient(to right,rgb(255, 0, 93),  rgb(251, 255, 0));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    margin: 0;
    padding: 10px;
} 

.title .line-one {
    background: linear-gradient(rgb(251, 255, 0), #ff00ff);
    height: 2px;
    width: calc(100% - 10px);
    margin-left: -10px;
}

/* .title .line-two {
    background: linear-gradient(rgb(251, 255, 0), #ff00ff);
    height: 2px;
    transform: rotate(-90deg);
    width: 100%;
    margin-left: 0;
    margin-top: 10%;
} */



/* SECTION THREE */
/* .sectionThree {
  
   width: 99vw;
   color: #232323;
   
}

.container-title-sectionThree .sk {
    position: relative;
    overflow: hidden;
   }
 .skills {
    font-size: 12rem;
    
}  */


.sectionThree {
    height: 100vh;
    background-color: #f0f0f0;
    overflow-x: hidden;
    
  }
  
 
  
    .skills {
    transition: left 1s ease;
    margin-left: -50%;
  } .skills h1 {
    font-size: 8rem;
    
  }
  
  .html {
    margin-top: 10%;
    margin-left: 60%;
    transition: left 1s ease;
  }.html h1{
    font-size: 8rem;
  }
  
  .css {
    margin-left: -100%;
  }
  
  .javascript {
    left: 300%;
  }
  




/* .container-title-sectionThree {
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 10rem;
    
}

.container-title-sectionThree .sk2 {
    font-size: 2rem;
    margin-top: 0;
    
    
   } */

   
 
 
/* SECTION FOUR  */
.sectionFour {
    color: #232323;
}
.sectionFour .container-title-sectionFour {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 0.7fr);
    grid-template-areas: 
        '. . services .'
        '. . . .'
        '. . web .'
        '. . development .'
        '. . uiux .';
    margin-top: 10%;
    
}

    .services {
        grid-area: services;
        font-size: 3rem;
    }
    .web {
        grid-area: web;
    }
    .development {
        grid-area: development;
    }
    .uiux {
        grid-area: uiux;
    }

    /* Section Five responsive 768 PX */
    .sectionFive p {
        padding: 0 20px;
    }

    .sectionFive .iam {
        font-size: 2rem;
    }
        .sectionFive .love {
        font-size: 1.5rem;
    }
        
      
    /* Section Six responsive 768 PX*/
   
    .sectionSix .container-title-sectionSix h1{
        font-size: 8rem;
    }

    .sectionSix .container-title-sectionSix .with{
        margin-left: 10%;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10% 10px;
        
    }
        form input {
            padding: 10px;
            width: 250px;
        }
        form div {
            padding: 10px;
        }
        
        form label {
            font-size: 1.2rem;
        }
        textarea {
            resize: none;
            width: 250px;
        }
        .send {
            margin-left: 40%;
        }

/* RESPONSIVE 768PX IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII*/
    
@media (max-width: 768px){
  

    
    .nav-menu {
        display: flex;
        padding: 0;
        background: linear-gradient(#232323, #482b2b);
    }
    
    .nav-menu li {
        padding: 0 40px;
        list-style-type: none;
        transition: 0.3s;
        color:rgb(255, 61, 61);
        }
        .nav-menu li a{
            text-decoration: none;
            font-size: 1.8rem;
            font-weight: 600;
        }
    
        .nav-menu li:hover {
            
            cursor: pointer;
            color: #fff;
        }
    
    
    .ham {
        display: none;
        cursor: pointer;
        border: none;
        margin: 0;
        padding: 0;
        background-color: transparent;
        
        
    }
        .ham span {
            display: block;
            background-color: rgb(163, 163, 163);
            height: 3px;
            width: 28px;
            margin: 10px auto;
            border-radius: 2px;
        }
    

    * section {
        /* max-width: 1200px; */
        max-width: auto;
        width: auto;
        min-height: 80vh;
        
        
        /* padding: 0 20px;     */
    }

    .container-title-sectionThree {
        display: grid;
        justify-content: center;
        align-content: center;
        font-size: 8rem;
    
    }
    

  .ham {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 25px;
        transition: 0.2s 0.1s;
        
    }

   nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 0;
        width: auto;
    }

    .nav-menu {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 92vh;
        margin: 0;
        padding: 0;
        width: 100%;
        opacity:0;
        transition: opacity 5s ease-out;
        display: none;
    }

    .nav-menu li {
        text-align: center;
        width: 100%;
        padding: 20px;
        z-index: 9;
        font-size: 2rem;
    }

    .nav-menu.activado{
        display: flex;
        animation: muestraMenu 350ms ease-in-out both;
        
    }
        @keyframes muestraMenu {
            from{opacity: 0;}
            to{opacity:1;}
        }

        .br-1.animado {
            transform: rotate(-45deg) translate(-10px, 8px);
        }
        .br-2.animado {
            opacity: 0;
        }
        .br-3.animado {
            transform: rotate(45deg) translate(-10px, -8px);
        }
        .ham.girar:hover{
            transform: rotate(360deg);
        }

    /* SECTION ONE RESPONSIVE 768PX */
        .dropdown-menu {
            left: 1rem;
            width: unset;
        }

        .networks img:hover {
            filter: brightness(2.00);
        }
        .networks {
            grid-area: networks;
            margin-left: 0;
            display: none;
            justify-content: none;
        }
            .networks img {
                margin-top: 20px;
            }
        
       .sectionOne .one-description #nam {
            font-size: 2rem;
            margin-left: 0;
            
          }
         
          .sectionOne {
            color: #f3f3f3;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas: 
                'one-description'
                'one-image';
            place-items: center;
            background: #232323;
              
          }
        
        .one-image {
            padding: 10px;
            border-radius: 50%;
            width: 200px;
            height:200px;
            overflow: hidden;
           
        }
      
        .one-image img {
            width: 100%;
            height: auto;
        }

      .sectionOne p {
            font-size: 1em;
        }

        .sectionOne h1 {
            font-size: 1.5rem;
        }

        .sectionOne .one-description #nam {
            font-size: 5rem;
        }
        
        .sectionOne .one-description {
            padding: 20px;
            text-align: center;
            justify-content: space-between;
            margin-left: 0;
        }
       
        .one-description .wel{
            animation: none;
        }
        
        .one-description .dev{
            animation: none;
            
            transition: 0.5s;
        }
           
        .networks {
            grid-area: networks;
            display: flex;
            flex-direction: row;
            margin-top: 0;
}



        /* Section Two responsive */

       
.container-projects {
                display: grid;
                align-items: center;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(3, 1fr);
                grid-template-areas: 
                   'first-project'
                   'two-project' 
                   'three-project';
                gap: 20px;
                margin-top: 10%;
                padding: 0 20px;
            } 
            .container-projects .box {
                border: 2px solid black;
                border-radius: 10px;
                width: 100%;
                height: 150px;  
                margin-left: 0;  
            }   

            /* Section Three responsive 768PX */
            .skills {
                font-size: 5rem;

       
            .container-title-sectionThree {
                margin-top: 20%;;
            }
            .container-title-sectionThree p{
                font-size: 40px;
                
            }
           
           


            /* .container-title-sectionThree .sk {
                font-size: 2rem;
                }
               .container-title-sectionThree .sk2 {
                font-size: 1rem;
                }
               .skills {
                margin-top: 0;
              }
               .javascript {
                margin-top: 0;
              }
              .git {
                margin-top: -75%;
              } */
    /* Section Four Responsive 768PX */
    .services {
        font-size: 1.6rem;
    }
    .sectionFour .container-title-sectionFour {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 0.5fr);
        grid-template-areas: 
            '. . services .'
            '. . web .'
            '. . development .'
            '. . uiux .';
            gap: 40px;
        margin-top: 20%;
        
    }

    
    /* Section Five responsive 768 */
   
    .sectionSix .container-title-sectionSix h1{
        font-size: 2rem;
    }

    .sectionSix .container-title-sectionSix .with{
        margin-left: 10%;
    }

   
     
}


}